body {
    color: white;
}


.choice-container {
    display:flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 4rem;
    min-width: 80rem;
}



.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rbga(6,103,246,0 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
}

.chopice-p {
    padding: 2rem 2.5rem;
    color: white;
}


.choice-t {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(38deg, green);
}

.incorrect {
    background: linear-gradient(38deg, red);
}


/*display*/
#display {
    display: flex;
    justify-content: space-between;
}

.display-prefix {
    text-align: center;
    font-size: 3rem;
}

.display-main {
    text-align: center;
}

#progressBar {
    width: 22rem;
    height: 3rem;
    border: 0.2rem solid rgb(11,223,36);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}
#progressbarfull {
    height: 100%;
    background: green;
    width: 0%;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}