* {
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin: 10px 10px;
}

.begin {
    text-align: center;
}

.high-Header {
    position: relative;
    top: 10px;
    left: 10px;

}

.time-Left {
    position: absolute;
    top: 10px;
    right: 20px;
}

button {
    display: inline-block;
    margin: 45px;
    cursor: pointer;
    color: white;
    background-color: #6d0ad0;
    border-radius: 10px;
    border: 0;
    padding: 15px;
}

button:hover {
    background-color: #fffb00;
}
.optionDiv button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

.hidden {
    display: none;
}


  




/*simple yet effect css allows all buttons and colors to go together for an easy user experience*/