* {

display: flex;
align-items: center;
justify-content: center;
font-family: 'Times New Roman', Times, serif;
}






.button:hover,
#next:hover,
#previous:hover,
#submit:hover {
    background-color: gray;
}